@attribute [Route($"/{Routing.Invoices}")]

@using System.Globalization
@using System.Text
@using BlazorBootstrap
@using JDev.Tuteee.Identity.Extensions
@using JDev.Tuteee.Protos
@using JDev.Tuteee.Rest.ApiClient.ApiClients
@using JDev.Tuteee.Rest.ApiClient.DTOs
@using Microsoft.AspNetCore.Authorization

@inherits JDev.Tuteee.Identity.Components.CancellableComponentBase

@inject IRestApiClient RestApiClient;
@inject Invoice.InvoiceClient GrpcApiClient;
@attribute [StreamRendering]
@rendermode InteractiveServer
@attribute [Authorize(Roles = "Admin")]

<PageTitle>Invoices</PageTitle>

<Modal @ref="_modal" Title="Bill a client">
    <BodyTemplate>
        Which client?
        <AutoComplete @bind-Value="_invoiceClientName"
                      TItem="ClientDto"
                      DataProvider="ClientDataProvider"
                      PropertyName="Name"
                      Placeholder="Search billable client"
                      OnChanged="(ClientDto client) => OnClientChosen(client)"></AutoComplete>
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Primary" @onclick="OnHideBillClientModal">Create invoice</Button>
    </FooterTemplate>
</Modal>

<div class="d-flex flex-row justify-content-between mb-2">
    <h3>Invoices</h3>
    <Button Color="ButtonColor.Primary" @onclick="OnShowAddInvoiceModal">Bill client</Button>
</div>

@if (_invoices is null)
{
    <p>Loading</p>
}
else
{
    <Grid @ref="_invoiceGrid"
          TItem="InvoiceDto"
          Class="table table-hover table-bordered table-striped"
          DataProvider="InvoicesDataProvider"
          AllowSorting="true"
          AllowPaging="true"
          PageSize="5"
          Responsive="true">
        <GridColumns>
            <GridColumn TItem="InvoiceDto" HeaderText="Client" PropertyName="FirstName" SortKeySelector="item => item.Client.LastName">
                @context.Client.FirstName @context.Client.LastName
            </GridColumn>
            <GridColumn TItem="InvoiceDto" HeaderText="Month" PropertyName="Month" SortKeySelector="item => item.GetMonth()" IsDefaultSortColumn="true" SortDirection="SortDirection.Descending">
                @context.GetMonth()
            </GridColumn>
            <GridColumn TItem="InvoiceDto" HeaderText="Lessons" PropertyName="Lessons">
                @GetLessonRender(context.Lessons)
            </GridColumn>
            <GridColumn TItem="InvoiceDto" HeaderText="Amount" PropertyName="Amount">
                @ToCurrency(context.GetAmount())
            </GridColumn>
        </GridColumns>
    </Grid>
}

@code {
    private IReadOnlyList<InvoiceDto>? _invoices;
    private Grid<InvoiceDto> _invoiceGrid = default!;
    private Modal _modal = default!;
    private string _invoiceClientName = default!;
    private int _invoiceClientId;
    
    protected override async Task OnInitializedAsync()
    {
        _invoices = await RestApiClient.GetInvoicesAsync(CancellationToken);
    }
    
    private async Task<GridDataProviderResult<InvoiceDto>> InvoicesDataProvider(GridDataProviderRequest<InvoiceDto> request)
    {
        return await Task.FromResult(request.ApplyTo(_invoices ?? []));
    }
    private async Task<AutoCompleteDataProviderResult<ClientDto>> ClientDataProvider(AutoCompleteDataProviderRequest<ClientDto> request)
    {
        var clients = await RestApiClient.GetClientsAsync(CancellationToken);
        return await Task.FromResult(new AutoCompleteDataProviderResult<ClientDto> { Data = clients, TotalCount = clients.Count });
    }
    private void OnClientChosen(ClientDto client)
    {
        _invoiceClientId = client.ClientId.GetValueOrDefault();
    }

    private async Task OnShowAddInvoiceModal()
    {
        await _modal.ShowAsync();
    }
    private async Task OnHideBillClientModal()
    {
        await GrpcApiClient.BillClientAsync(new BillClientRequest { ClientId = _invoiceClientId });

        ResetInvoiceClientInfo();
    
        _invoices = await RestApiClient.GetInvoicesAsync(CancellationToken);
        await _invoiceGrid.RefreshDataAsync();

        await _modal.HideAsync();
    }

    private static RenderFragment GetLessonRender(IEnumerable<LessonDto> lessons)
    {
        return builder =>
        {
            var i = 0;
            foreach (var lesson in lessons.OrderBy(l => l.Date).ThenBy(l => l.Start))
            {
                var sb = new StringBuilder($"{lesson.Tutee.FirstName} {lesson.Tutee.LastName} | ");
                sb.Append(lesson.Date.ToString("D"));
                var start = lesson.Start.ToString("t");
                var end = lesson.Start.Add(lesson.Duration).ToString("t");
                sb.Append($": {start} - {end}");
                builder.AddMarkupContent(i, sb.ToString() );
                builder.AddMarkupContent(i + 1, "<br/>");
                i += 2;
            }
        };
    }

    private static string GetPaidString(bool paid) => paid ? "✅" : "❌";
    private static string ToCurrency(decimal dec) => dec.ToString("C", CultureInfo.CurrentCulture);
    
    private void ResetInvoiceClientInfo()
    {
        _invoiceClientId = default;
        _invoiceClientName = string.Empty;
    }
}