@attribute [Route($"/{Routing.Lesson}")]

@using JDev.Tuteee.Protos
@using JDev.Tuteee.Rest.ApiClient.ApiClients
@using JDev.Tuteee.Rest.ApiClient.DTOs
@using Microsoft.AspNetCore.Authorization
@using ButtonSize = BlazorBootstrap.ButtonSize

@inherits JDev.Tuteee.Identity.Components.CancellableComponentBase

@inject IRestApiClient RestApiClient
@inject Protos.Lesson.LessonClient LessonClient
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
@attribute [StreamRendering]
@rendermode InteractiveServer
@attribute [Authorize(Roles = "Admin")]

<PageTitle>@TuteeName</PageTitle>

<Breadcrumb Items="_navItems"></Breadcrumb>

<Modal @ref="_fileUploadModal" Title="Select file for upload">
    <BodyTemplate>
        <div class="d-flex flex-column">
            <InputFile OnChange="LoadFile"/>
            Filename
            <TextInput @bind-Value="@_filename"/>
        </div>
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Primary" @onclick="OnHideAddAttachmentModal">Add attachment</Button>
    </FooterTemplate>
</Modal>

<Modal @ref="_deleteLessonConfirmationModal" Title="Delete lesson?">
    <BodyTemplate>
        Are you sure you want to delete the lesson?
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Danger" @onclick="OnHideDeleteLessonConfirmationModal">Confirm</Button>
    </FooterTemplate>
</Modal>

<Modal @ref="_lessonEditModal" Title="Edit lesson">
    <BodyTemplate>
        Title
        <div class="d-flex flex-column">
            <TextInput @bind-Value="@_lessonTitle"/>
        </div>
        Summary
        <div class="d-flex flex-column">
            <TextInput @bind-Value="@_lessonSummary"/>
        </div>
        Instructions
        <div class="d-flex flex-column">
            <TextInput @bind-Value="@_homeworkInstructions"/>
        </div>
        Start
        <TimeInput TValue="TimeOnly" @bind-Value="@_lessonStart"/>
        Duration
        <NumberInput TValue="int" @bind-Value="@_lessonMinutes"/>
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Primary" @onclick="OnHideEditLessonModal">Confirm</Button>
    </FooterTemplate>
</Modal>

@if (_lesson is null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <div class="d-flex justify-content-center flex-row my-2">
        <h2>@GetTitle(_lesson.Title)</h2>
    </div>
    <div class="d-flex justify-content-center flex-row my-2">
        <p>@GetSummary(_lesson.Summary)</p>
    </div>
    <h4>
        Time
    </h4>
    <p>@_lesson.Start.ToString("t") - @_lesson.Start.Add(_lesson.Duration).ToString("t")</p>
    <h4>Cost</h4>
    <p>£@_lesson.CostString</p>
    <h4>
        Homework
    </h4>
    <p>@_lesson.HomeworkInstructions</p>
    <h4>
    </h4>
    <h4>
        Attachments
        <Button Size="ButtonSize.Small" Color="ButtonColor.None" @onclick="OnShowAddAttachmentModal">
            <Icon Name="IconName.FileEarmarkPlus" Color="IconColor.Primary" Size="IconSize.x5"/>
        </Button>
    </h4>
    <ul>
        @foreach (var ha in _homeworkAttachments)
        {
            <li>
                <div class="d-flex flex-row">
                    <DeadLink OnClick="() => DownloadFile(ha)">@Path.GetFileName(ha.FileName)</DeadLink>
                    <div class="mx-2">
                        <DeadClick OnClick="() => DeleteFile(ha)">
                            <Icon Name="IconName.Trash3" Color="IconColor.Danger"/>
                        </DeadClick>
                    </div>
                </div>
            </li>
        }
    </ul>
    <h4 style="margin-top: 20px">
        Actions
    </h4>
    <div class="d-flex justify-content-between flex-row my-2">
        <div class="d-flex flex-row">
            <Button style="margin-right: 2px" Color="ButtonColor.Info" @onclick="OnShowEditLessonModal">Edit lesson</Button>
            <Button style="margin-right: 2px" Disabled="@_lesson.EmailSent" Color="ButtonColor.Primary" @onclick="OnReleaseHomework">Send email ✉️</Button>
        </div>
        <Button Color="ButtonColor.Danger" @onclick="OnShowDeleteLessonConfirmationModal">Delete lesson</Button>
    </div>
}

<script>
    window.downloadFileFromStream = async (fileName, contentStreamReference) => {
        const arrayBuffer = await contentStreamReference.arrayBuffer();
        const blob = new Blob([arrayBuffer]);
        const url = URL.createObjectURL(blob);
        const anchorElement = document.createElement('a');
        anchorElement.href = url;
        anchorElement.download = fileName ?? '';
        anchorElement.click();
        anchorElement.remove();
        URL.revokeObjectURL(url);
    }
</script>

@code {
    [Parameter] public int LessonId { get; set; }
    private List<BreadcrumbItem> _navItems = default!;
    private Modal _fileUploadModal = default!;
    private Modal _lessonEditModal = default!;
    private Modal _deleteLessonConfirmationModal = default!;
    private TimeOnly _lessonStart;
    private int _lessonMinutes;
    private LessonDto? _lesson;
    private TuteeDto? _tutee;
    private ClientDto? _client;
    private IReadOnlyList<LessonAttachmentDto> _homeworkAttachments = [];
    private string _filename = default!;
    private string _lessonTitle = default!;
    private string _lessonSummary = default!;
    private string _homeworkInstructions = default!;
    private string _temporaryFileName = default!;

    private string TuteeName => $"{_tutee?.GetFirstName()} {_tutee?.GetLastName()}".Trim();
    private string ClientName => $"{_client?.FirstName} {_client?.LastName}";

    protected override async Task OnInitializedAsync()
    {
        _lesson = await RestApiClient.GetLessonAsync(LessonId, CancellationToken);
        _lessonTitle = _lesson.Title;
        _lessonSummary = _lesson.Summary;
        _homeworkInstructions = _lesson.HomeworkInstructions;
        _lessonStart = _lesson.Start;
        _lessonMinutes = (int)_lesson.Duration.TotalMinutes;
        _tutee = _lesson.Tutee;
        _client = _tutee.Client;
        _homeworkAttachments = await RestApiClient.GetLessonAttachmentsAsync(LessonId, CancellationToken);
        _navItems =
        [
            new BreadcrumbItem { Text = $"{ClientName} 📂", Href = $"clients/{_client!.ClientId}" },
            new BreadcrumbItem { Text = $"{TuteeName} 🎓", Href = $"tutees/{_tutee.TuteeId}" },
            new BreadcrumbItem { Text = $"{_lesson.Date:D} 📚", IsCurrentPage = true }
        ];
    }

    private async Task DownloadFile(LessonAttachmentDto dto)
    {
        var response = await RestApiClient.GetLessonAttachmentAsync(dto.LessonAttachmentId, CancellationToken);
        var fileName = Path.GetFileName(response.FileName);
        var stream = new MemoryStream(response.Contents);
        using var streamRef = new DotNetStreamReference(stream: stream);
        await JsRuntime.InvokeVoidAsync("downloadFileFromStream", fileName, streamRef);
    }

    private async Task DeleteFile(LessonAttachmentDto dto)
    {
        await RestApiClient.DeleteLessonAttachmentAsync(dto.LessonAttachmentId, CancellationToken);
        _homeworkAttachments = await RestApiClient.GetLessonAttachmentsAsync(_lesson.LessonId.Value, CancellationToken);
    }


    private async Task OnShowAddAttachmentModal()
    {
        await _fileUploadModal.ShowAsync();
    }

    private async Task OnHideAddAttachmentModal()
    {
        await RestApiClient.SaveLessonAttachmentAsync(_lesson.LessonId.Value, new LessonAttachmentDto
        {
            FileName = _filename,
            TemporaryFileName = _temporaryFileName,
            LessonId = _lesson!.LessonId
        }, CancellationToken);
        _homeworkAttachments = await RestApiClient.GetLessonAttachmentsAsync(LessonId, CancellationToken);
        await _fileUploadModal.HideAsync();
    }

    private async Task OnShowEditLessonModal()
    {
        await _lessonEditModal.ShowAsync();
    }

    private async Task OnReleaseHomework()
    {
        await LessonClient.ReleaseSummaryAsync(new ReleaseSummaryRequest
        {
            LessonId = LessonId
        });
        _lesson = await RestApiClient.GetLessonAsync(LessonId, CancellationToken);
    }

    private async Task OnHideEditLessonModal()
    {
        _lesson.Title = _lessonTitle;
        _lesson.Summary = _lessonSummary;
        _lesson.HomeworkInstructions = _homeworkInstructions;
        _lesson.Start = _lessonStart;
        _lesson.Duration = new TimeSpan(_lessonMinutes / 60, _lessonMinutes % 60, 0);
        await RestApiClient.UpdateLessonAsync(_lesson, CancellationToken);
        _lesson = await RestApiClient.GetLessonAsync(LessonId, CancellationToken);
        await _lessonEditModal.HideAsync();
    }

    private async Task LoadFile(InputFileChangeEventArgs obj)
    {
        var file = obj.File;
        var tempName = $"{Guid.NewGuid()}{Path.GetExtension(file.Name)}";
        _temporaryFileName = tempName;
        _filename = file.Name;
        using var memoryStream = new MemoryStream();
        await file.OpenReadStream(maxAllowedSize: 10 * 1024 * 1024).CopyToAsync(memoryStream);
        var byteArray = memoryStream.ToArray();
        await RestApiClient.SaveTemporaryFileAsync(new FileDto
        {
            Contents = byteArray,
            FileName = tempName
        }, CancellationToken);
    }

    private async Task OnShowDeleteLessonConfirmationModal()
    {
        await _deleteLessonConfirmationModal.ShowAsync();
    }

    private async Task OnHideDeleteLessonConfirmationModal()
    {
        await RestApiClient.DeleteLessonAsync(LessonId, CancellationToken);
        await _deleteLessonConfirmationModal.HideAsync();
        NavigationManager.NavigateTo($"tutees/{_tutee.TuteeId}");
    }

    private string GetTitle(string? title) => title ?? "Add a title";
    private string GetSummary(string? summary) => summary ?? "Add a summary";
}