@attribute [Route($"/{Routing.Tutee}")]

@using JDev.Tuteee.Rest.ApiClient.ApiClients
@using JDev.Tuteee.Rest.ApiClient.DTOs
@using JDev.Tuteee.Rest.ApiClient.Enums
@using Microsoft.AspNetCore.Authorization
@using ButtonSize = BlazorBootstrap.ButtonSize

@inherits JDev.Tuteee.Identity.Components.CancellableComponentBase

@inject IRestApiClient RestApiClient
@attribute [StreamRendering]
@rendermode InteractiveServer
@attribute [Authorize(Roles = "Admin")]

<PageTitle>@TuteeName</PageTitle>

<Breadcrumb Items="_navItems"></Breadcrumb>

<Modal @ref="_scheduleLessonModal" Title="Enter lesson details">
    <BodyTemplate>
        Date
        <DateInput TValue="DateOnly" @bind-Value="@_lessonDate" Placeholder="Enter date"/>
        Start
        <TimeInput TValue="TimeOnly" @bind-Value="@_lessonStart"/>
        Duration
        <NumberInput TValue="int" @bind-Value="@_lessonMinutes"/>
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Primary" @onclick="OnHideAddLessonModal">Schedule lesson</Button>
    </FooterTemplate>
</Modal>

<Modal @ref="_updateRateModal" Title="Update rate">
    <BodyTemplate>
        New rate
        <NumberInput TValue="int" @bind-value="@_editablePencePerHour"/>
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Primary" @onclick="OnHideUpdateRateModal">Confirm</Button>
    </FooterTemplate>
</Modal>

<Modal @ref="_addReservationSlotModal" Title="Add Reservation Slot">
    <BodyTemplate>
        Reference Date
        <DateInput TValue="DateOnly" @bind-Value="@_reservationReferenceDate" Placeholder="Enter date"/>
        Start
        <TimeInput TValue="TimeOnly" @bind-Value="@_reservationStart"/>
        Duration
        <NumberInput TValue="int" @bind-Value="@_reservationMinutes"/>
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Primary" @onclick="OnHideAddReservationSlotModal">Confirm</Button>
    </FooterTemplate>
</Modal>


@if (_tutee == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <div class="d-flex flex-row-reverse">
        <p>@_tutee.EmailAddress | @_tutee.PhoneNumber.ToDisplay()</p>
    </div>
    <h4>
        Lessons
        <Button Color="ButtonColor.None" Size="ButtonSize.Small" @onclick="OnShowAddLessonModal">
            <Icon Name="IconName.PlusSquare" Color="IconColor.Primary" Size="IconSize.x5"/>
        </Button>
    </h4>
    <Grid @ref="_lessonGrid"
          TItem="LessonDto"
          Class="table table-hover table-bordered table-striped"
          DataProvider="LessonsDataProvider"
          AllowSorting="true"
          Responsive="true">
        <GridColumns>
            <GridColumn TItem="LessonDto" HeaderText="Date" SortKeySelector="item => item.Start">
                <NavLink class="nav-link" href=@($"lessons/{context.LessonId}") Match="NavLinkMatch.All">
                    @context.Date.ToString("D")
                </NavLink>
            </GridColumn>
            <GridColumn TItem="LessonDto" HeaderText="Title" PropertyName="Title">
                @context.Title
            </GridColumn>
            <GridColumn TItem="LessonDto" HeaderText="Cost" PropertyName="Cost">
                £@context.CostString
            </GridColumn>
            <GridColumn TItem="LessonDto" HeaderText="Start" PropertyName="Start">
                @context.Start.ToString("t")
            </GridColumn>
            <GridColumn TItem="LessonDto" HeaderText="End" PropertyName="End">
                @context.End.ToString("t")
            </GridColumn>
            <GridColumn TItem="LessonDto" HeaderText="Homework" PropertyName="HomeworkInstructions">
                @DisplayHomeworkInstructions(context.HomeworkInstructions)
            </GridColumn>
        </GridColumns>
    </Grid>
    <h4>
        Rate
        <Button Color="ButtonColor.None" Size="ButtonSize.Small" @onclick="OnShowEditRateModal">
            <Icon Name="IconName.Pencil" Color="IconColor.Primary" Size="IconSize.x5"/>
        </Button>
    </h4>
    <p>
        £@_tutee.ActiveRate.ToCurrency()/hr
    </p>
    <h4>
        Holding reservations
        <Button Color="ButtonColor.None" Size="ButtonSize.Small" @onclick="OnShowAddReservationSlotModal">
            <Icon Name="IconName.PlusSquare" Color="IconColor.Primary" Size="IconSize.x5"/>
        </Button>
    </h4>
    <ul>
        @foreach (var slot in _tutee.ReservationSlots)
        {
            <li>
                @slot
            </li>
        }
    </ul>
}

@code {
    [Parameter]
    public int TuteeId { get; set; }
    private TuteeDto? _tutee;
    private ClientDto? _client;
    private Grid<LessonDto> _lessonGrid = default!;
    private Modal _scheduleLessonModal = default!;
    private Modal _updateRateModal = default!;
    private Modal _addReservationSlotModal = default!;
    private List<BreadcrumbItem> _navItems = default!;
    private DateOnly _lessonDate;
    private TimeOnly _lessonStart;
    private int _lessonMinutes;
    private DateOnly _reservationReferenceDate;
    private TimeOnly _reservationStart;
    private int _reservationMinutes;
    private int _editablePencePerHour;

    private string TuteeName => $"{_tutee?.GetFirstName()} {_tutee?.GetLastName()}".Trim();
    private string ClientName => $"{_client?.FirstName} {_client?.LastName}";

    protected override async Task OnInitializedAsync()
    {
        _lessonDate = DateOnly.FromDateTime(DateTime.Now);
        _lessonStart = TimeOnly.FromDateTime(DateTime.Now);
        _lessonMinutes = 60;
        _reservationReferenceDate = DateOnly.FromDateTime(DateTime.Now);
        _reservationStart = TimeOnly.FromDateTime(DateTime.Now);
        _reservationMinutes = 60;
        _tutee = await RestApiClient.GetTuteeAsync(TuteeId, CancellationToken);
        _client = _tutee.Client;
        _editablePencePerHour = _tutee.ActiveRate;
        _navItems = new List<BreadcrumbItem>
        {
            new() { Text = $"{ClientName} 📂", Href = $"clients/{_client!.ClientId}" },
            new() { Text = $"{TuteeName} 🎓", IsCurrentPage = true }
        };
    }

    private async Task OnHideAddLessonModal()
    {
        await RestApiClient.AddLessonAsync(new LessonDto
        {
            TuteeId = TuteeId,
            Date = new DateOnly(_lessonDate.Year, _lessonDate.Month, _lessonDate.Day),
            Start = new TimeOnly(_lessonStart.Hour, _lessonStart.Minute),
            Duration = new TimeSpan(_lessonMinutes / 60, _lessonMinutes % 60, 0)
        }, CancellationToken);
        _tutee = await RestApiClient.GetTuteeAsync(TuteeId, CancellationToken);
        await _lessonGrid.RefreshDataAsync();
        await _scheduleLessonModal.HideAsync();
    }

    private async Task OnShowAddLessonModal()
    {
        await _scheduleLessonModal.ShowAsync();
    }

    private async Task OnShowEditRateModal()
    {
        await _updateRateModal.ShowAsync();
    }

    private async Task OnShowAddReservationSlotModal()
    {
        await _addReservationSlotModal.ShowAsync();
    }

    private async Task OnHideUpdateRateModal()
    {
        var rateDto = new RateDto
        {
            DateEnabled = DateOnly.FromDateTime(DateTime.Today),
            PencePerHour = _editablePencePerHour
        };
        await RestApiClient.AddRateAsync(TuteeId, rateDto, CancellationToken);
        _tutee = await RestApiClient.GetTuteeAsync(TuteeId, CancellationToken);
        _editablePencePerHour = _tutee.ActiveRate;
        await _updateRateModal.HideAsync();
    }

    private async Task OnHideAddReservationSlotModal()
    {
        var reservationSlotDto = new ReservationSlotDto
        {
            ReferenceDate = _reservationReferenceDate,
            Time = _reservationStart,
            Duration = new TimeSpan(_reservationMinutes / 60, _reservationMinutes % 60, 0),
            Type = ReservationSlotType.Weekly
        };
        await RestApiClient.AddReservationSlotAsync(TuteeId, reservationSlotDto, CancellationToken);
        _tutee = await RestApiClient.GetTuteeAsync(TuteeId, CancellationToken);
        await _addReservationSlotModal.HideAsync();
    }

    private async Task<GridDataProviderResult<LessonDto>> LessonsDataProvider(GridDataProviderRequest<LessonDto> request)
    {
        return await Task.FromResult(request.ApplyTo(_tutee?.Lessons ?? []));
    }

    private static string DisplayHomeworkInstructions(string? s) => s ?? "None set";
}